body{
    margin: 0;
    padding: 0;
}

.container{
    /* width: 876px; */

}

 .header{
    background: url('images/img3.avif') no-repeat;
    background-size: cover;
    height: 700px;
    background-position: center;
   
}

.logo-champz{
    width: 80px;
    height: 17.43px;
    margin: 1.3em;
    padding-left: 4em;
} 

nav{
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 0.10);
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3.6em;
    
}

nav ul{
    display: flex;
    justify-content: space-between;
    margin-right: 5em;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin: 1em

}

a:hover{
    color: #FFBC13;
}