body{
    margin: 0;
    padding: 0;
}
 .header{
    background: var(--Overlay, rgba(17, 17, 17, 0.50))url('images/image.png') no-repeat;
    background-size: cover;
    height: 710px;
    background-position: center;
}

.logo-champz{
    width: 80px;
    height: 17.43px;
    margin: 1.3em;
    padding-left: 4em;
} 

nav{
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 0.10);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3.6em;
}

nav ul{
    display: flex;
    justify-content: space-between;
    margin-right: 5em;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin: 1em;
}

a:hover{
    color: #FFBC13;
}

.headline{
    color: #fff;
    margin: 7em;
}

.headline h1{
    text-transform: uppercase;
    font-size: 4rem;
    font-family: 'Inter';
    margin: 0;
}

.super-deals{
    text-transform: uppercase;
    color: #FFBC13;
    margin-bottom: 0;
    font-weight: 600;
    font-size: .6rem;
}

.content-para{
    font-weight: 300;
    font-family: 'Poppins';
    font-size: .8rem;
}

.headline a{
    text-decoration: none;
    background: #111;
    padding: 1em 1.5em;
    margin-top: 2em;
    color: #fff;
    border-radius: 5px;
}

a:hover{
    color: #FFBC13;
}

.section1{
    background-color: #111;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    margin: -4em 13.5em;
    padding: 0;
}

.section1 svg{
    width: 50px;
    height: 40px;
    margin-left: 1.5em;
}

.Order{
    display: flex;
    margin: 1.7em 0 0 0;
    border-left: 1px solid #333; 
}  
.section1 h3{
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Poppins';
    font-size: 1rem;
}     
    
.section1 p{
    font-weight: 400;
    font-family: 'Poppins';
    margin-top: -0.2em;
    padding-bottom: 2em;
    width: 180px;
    font-size: .7rem;
}  

.descrip{
    margin: -.7em 1em;
}

.section2{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}  

.head{
    margin-top: 7em;
    display: flex;
    justify-content: space-between;
}
  
.head p {
    color: #FFBC13;    
}

.head a{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 1em;
    width: 200px;
    height: 17px;
    text-align: center;
    margin-right: -47.9em;
    margin-top: 2em;
    text-transform: uppercase;
    font-size: .7rem;
}
  
.head a:hover{
    color: #FFBC13;
}

.head-content{
    margin-left: -33.5em;
}
  
.head-content h1{
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.head-content p{
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: -1em;
}  

.content-img{
    display: flex;
}

.svg-img svg{
    width: 20px;
    height: 10px;
    margin-left: 0.4em;
    margin-bottom: -.1em;
}

.content-img a{
    text-decoration: none;
    color: #FFBC13;
    font-weight: 700;
    font-family: 'Poppins';
    font-size: .7rem;
}  

.content-img h3{
    color: #fff;
    font-family: 'Inter';
    margin-bottom: 0;
    font-weight: 800;
}

.content-img a{
    margin-bottom: -.5em;
}

.contetn1, .contetn2, .contetn3{
    margin: .3em;
    padding: 1em;
}

.contetn1{
  background:  linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%,
  rgba(17, 17, 17, 0.80) 100%), url('images/content-img1.png') no-repeat;  
  background-position: 0;
  background-size: cover;
  width: 320px;
  height: 330px;  
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.contetn2{
    background:  linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, 
    rgba(17, 17, 17, 0.80) 100%), url('images/content-img2.png') no-repeat;  
    background-position: 0;  
    background-size: cover;      
    width: 320px;
    height: 330px;   
    display: flex;        
    flex-direction: column;
    justify-content: end;
}                                     
                       
.contetn3{
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%,
     rgba(17, 17, 17, 0.80) 100%), url('images/content-img3.png') no-repeat;  
    background-position: 0;
    background-size: cover;
    width: 320px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}   


/*  section 3 */

.title{
    margin-top: 2em;
}

.title p{
    color: #FFBC13;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-size: 6.103px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: .9em;
}  

.title h1{
    text-transform: uppercase;
    color: #111;
    font-family: 'Inter';
    font-weight: 800;
    line-height: 22.533px; /* 106.667% */
    font-size: 23px;
    margin-bottom: .6em;
}

.sneakers-img{
    display: flex;
    justify-content: center;
    gap: .7em;
    margin-right: .4em;
    margin-bottom: .2em;
}
  
.sneakers{
    display: flex;
    flex-direction: column;
}

.sneakers img{
    width: 110%;
}
 
/* .sneakers svg{
    margin: 0 0 0 2.1em;
} */

.subtitle{
    border: 1px solid #DDD;
    background-color: #FFF;
    /* padding-right: 1em; */
    width: 110%;
}

.sneakers p{
    color: #111;
    font-size: .3em;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0;
    text-align: center;
    margin-top: .5em;
}

.sneakers .price{
    color: #FF1C45;
    font-weight: 700;
    font-size: 7.042px;
    line-height: normal;
    font-family: 'Inter';
    margin-top: .5em;
    margin-bottom: .9em;
}

.sneakers a{
    color: #fff;
    background-color: #111;
    padding: 1em .3em;
    margin-top: 1.5em;
    text-decoration: none;
    font-size: 7px;
    text-transform: uppercase;
    width: 60%;
    margin-left: -25em;
    margin-top: 3em;
}


.header-section4{
    background-color: #111;
    margin-top: 2em;
    padding: .5em 0;
    border-bottom: .2px solid #666464;

}

.header-section4 h3{
    color: #fff;
    text-align: center;
    font-family: 'Inter';
    font-weight: 800;
    text-transform: uppercase;
    font-size: 9.389px;
    font-style: normal;
    margin-bottom: -1em;
    margin-top: 1em;
}

.brands{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 4em;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sneaker-store{
    width: 109.7%;
    margin-left: -1.6em;
}

 .store{
    width: 70%;
    margin-left: 3.3em;
}

.about-us{
    background-color: #111;
    /* width: 676px; */
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
}
.about-us .about-para{
    color: #FFBC13;
    margin-left: 10.5em;
    margin-right: auto;
    text-transform: uppercase;
}

.about-us h1{
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 22.533px; /* 106.667% */
    text-transform: uppercase;
    color: #fff;
    margin-left: -1em;
    margin-top: -.5em;
    margin-bottom: .5em;
}

.about-us p{
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 8px;
    line-height: 17px; /* 160% */
    color: #fff;
    text-align: left;
    margin-left: 3em;
}

.about-us a{
    font-family: 'Poppins';
    font-size: 6.572px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.939px;
    text-transform: uppercase;
    padding: 1em 2em;
    background-color: #111;
    text-align: center;
    text-decoration: none;
    border: .5px solid #666464;
    color: #fff;
    /* margin-right: auto; */
    margin-left: -17em;
    text-align: center;
}

.commitment{
    text-align: left;
}

.commitment h3{
    font-family: 'Inter';
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 2.5em;
}

.commitment P{
    font-family: 'Poppins';
    font-size: 9.042px;
    font-style: normal;
    font-weight: 500;
    line-height: 14.267px; 
    color: #111;
    padding-top: 1.5em;
}

/* promos */

.promo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -2em;
    margin-top: 3em;
    margin-bottom: 3em;
    gap: 3em;

}

.shoes-prom img{
    filter: brightness(60%);
    /* z-index: -1; */
    width: 120%;
    position: relative;
}

.shoes-prom p{
    color: #FFBC13;
    text-align: center;
    font-family: 'Poppins';
    font-size: 7.103px;
    font-weight: 400;
    letter-spacing: 0.939px;
    text-transform: uppercase;
    margin-top: -21em;
    text-align: center;
    margin-left: 17em;
    position: absolute;
}

.shoes-prom h1{
    text-align: center;
    font-family: 'Inter';
    font-size: 23.125px;
    font-weight: 800;
    line-height: 22.533px; /* 106.667% */
    text-transform: uppercase;
    color: #fff;
    margin: -5.5em 0 1em 2em;
    position: absolute;
}

.shoes-prom a{
    font-family: 'Poppins';
    font-size: 7.572px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #fff;
    padding: 1.3em 3em;
    text-decoration: none;
    color: #111;
    position: absolute;
    margin-top: -7em;
    margin-left: -3em;
}

/* Section 5 testimonials */

.section5{
    margin-top: -2em;
}

.testimonail-content{
    background-color: #fff;
    margin: -1em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
}


.testimonial1{
    padding: .5em;
    display: flex;
    flex-direction: column;
    padding-right: 2em;
    text-align: start;
}

.testimonial1 .para1{
    font-family: 'Poppins';
    font-size: 7.103px;
    font-weight: 400;
    letter-spacing: 0.939px;
    text-transform: uppercase;
    color: #FFBC13;
}

.testimonial1 h1{
    color: var(--Dark, #111);
    font-family: 'Inter';
    font-size: 26.125px;
    font-style: normal;
    font-weight: 800;
    line-height: 25.533px; /* 106.667% */
    text-transform: uppercase;
    text-align: start;
}

.testimonial1 .para2{
    color: #111;
    font-family: 'Poppins';
    font-size: 9.042px;
    font-style: normal;
    font-weight: 400;
    line-height: 11.267px; /* 160% */
    text-align: start;
}

.testimonial1 a{
    padding: 2em;
    text-decoration: none;
    background-color: #111;
    color: #fff;
    font-family: 'Poppins';
    font-size: 8.572px;
    font-weight: 400;
    letter-spacing: 0.939px;
    text-transform: uppercase;
    width: 50%;
    padding: 1.2em 2em;
}

.testimonial2, .testimonial3 {
    background-color: #111;
    padding: 3.5em 2em;
    margin-right: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.testimonial3{
    background-color: #fff;
}

.testimonial3 h3{
    color: #111;
}

.testimonial3 p{
    color: #111;
    font-weight: 600;
    font-family: 'Poppins';
}

.testimonial2, .testimonial3, h3{
    color: #fff;
    text-align: center;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 1em;
}

.testimonial2, .testimonial3, .sub-para{
    color: #fff;
    text-align: center;
    font-family: 'Poppins';
    font-size: 8px;
    font-style: normal;
    font-weight: 300;
    line-height: 15.267px; /* 160% */
    text-transform: lowercase;
}

.testimonial2, .testimonial3, .para{
    text-align: center;
    font-family: 'Poppins';
    font-size: 6.103px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.939px;
    text-transform: uppercase;
    color: #FFBC13;
    margin-bottom: -1em;
}

.section5 {
    position: relative;
    overflow: hidden;
  }

  .testimonail-content {
      white-space: nowrap;
      transition: transform 0.5s ease-in-out;
  }

  .testimonial1, .testimonial2, .testimonial3{
    display: inline-block;
  }
  
  .testimonail-content:hover .testimonial1, .testimonial2, .testimonial3{
    /* transform: translateX(-100%); */
    transform: translateX(40%);
  }  
  
  /* .testimonail-content:hover .testimonial1, .testimonial2, .testimonial3{
    /* transform: translateX(-100%); */
    /* transform: translateX(100%); */


  
  .testimonail-content:hover .testimonial1, .testimonial2, .testimonial3:not(:hover){
    opacity: 1;
  }

  .section6{
    padding: 2em;
    background-color: #fff;
    margin: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .section6-img img{
    width: 110%;
  }

  .section6-subtitle{
    border: 0.469px solid var(--Border-Color, #DDD);
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 110%;
    padding-left: .8em;
  }
 
  .section6-img .paragraph1{
    color:  rgba(17, 17, 17, 0.50);
    font-family: 'Poppins';
    font-size: 9.042px;
    font-weight: 400;
    line-height: 11.267px; /* 160% */
    margin-top: 2em;
  }  

  .section6-img h3{
    color:  #111;
    font-family: 'Inter';
    font-size: 9.389px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;
    margin-top: -1em;
  }

  .section6-img .paragraph2{
    color:  #111;
    font-family: 'Poppins';
    font-size: 9.042px;
    font-style: normal;
    font-weight: 400;
    line-height: 11.267px; /* 160% */
  }

  .footer{
    background-color: #F8F8F8;
    color: #111;
    margin: 0 1.5em;
    padding-top: 3em;
  }  

  .form{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #d3cece;
    border-bottom: 1px solid #d3cece;
    padding: 2em 3em ;
}

.form img{
    width: 40%;
    height: 30%;
    margin-bottom: 1em;
    margin-top: -1em;
}  

.form p{
    color: #111;
    font-family: 'Poppins';
    font-size: 9.042px;
    font-weight: 400;
    line-height: 11.267px; /* 160% */
    margin: 0;
    padding: 1em 0;
}   

.form h1{
    color: #111;
    text-align: start;
    font-family: 'Poppins';
    font-size: 9.042px;
    font-weight: 900;
    line-height: 10.328px; /* 146.667% */
    text-transform: uppercase;
    margin-bottom: 0;
    padding-top: 1em;
}  

.form input{
    color: #111;
    font-family: 'Poppins';
    font-size: 9.042px;
    font-weight: 700;
    line-height: 11.267px; /* 160% */
    padding: 1em 2em;
    border: none;
    border: 0.469px solid var(--Dark, #111);
    background:  #FFF;
    text-align: start;
    margin-top: .5em;
}

.form a{
    color: var(--Light, #FFF);
    font-family: 'Poppins';
    font-size: 6.572px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background: var(--Dark, #111);
    margin-top: 1em;
    padding: 1.5em 2em;
    text-decoration: none;
    text-transform: uppercase;
}

.lef-col{
    display: flex;
    flex-direction: column;
}
   
.links{
    display: flex;
    flex-direction: row;
}  

.links ul li{
    list-style-type: none;
    text-align: start;
}   

.links ul li a{
    text-decoration: none;
    color: #111;
    font-family: 'Poppins';
    font-size: 9.042px;
    font-style: normal;
    font-weight: 500;
    line-height: 11.267px; /* 160% */
}  

.links span{
    font-weight: 800;
    text-transform: uppercase;
}

.pay{
    display: flex;
    flex-direction: column;
    /* margin-left: 2em; */
    /* padding-left: -1em; */
    border-bottom: 1px solid #d3cece;
    padding: 1.66em 0;
}
      
.pay h3{
    color: #111;
    font-family: 'Poppins';
    font-size: 9.042px;
    font-style: normal;
    font-weight: 900;
    line-height: 10.328px; /* 146.667% */
    text-transform: uppercase;
    margin-bottom: -1em;
    padding-top: 1em;
    text-align: start;
    margin-left: 5em;
}
   
.pay svg{
    margin-left: .3em;
    margin-bottom: -2em;
}       
    
.contact{  
    background-color: #F8F8F8;
    margin: 0 1em ;
    display: flex;
    justify-content: space-between  ;
    padding: 0 4em;
}               
         
.contact p{
    font-family: 'Poppins';
    font-size: 9.042px;
    font-weight: 400;
    line-height: 11.267px; /* 160% */
}       
     
.contact svg{
    margin-top: -1em;
}  