body{
    margin: 0;
    padding: 0;
}

 .header{
    background: url('images/img3.avif') no-repeat;
    background-size: cover;
    height: 710px;
    background-position: center;
}

.logo-champz{
    width: 80px;
    height: 17.43px;
    margin: 1.3em;
    padding-left: 4em;
} 

nav{
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 0.10);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3.6em;
}

nav ul{
    display: flex;
    justify-content: space-between;
    margin-right: 5em;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin: 1em;
}

a:hover{
    color: #FFBC13;
}

.headline{
    color: #fff;
    margin: 7em;
}

.headline h1{
    text-transform: uppercase;
    font-size: 4rem;
    font-family: 'Inter';
    font-weight: 800;
    margin: 0;
}

.super-deals{
    text-transform: uppercase;
    color: #FFBC13;
    margin-bottom: 0;
    font-weight: 600;
    font-size: .6rem;
}

.content-para{
    font-weight: 300;
    font-family: 'Poppins';
    font-size: .8rem;
}

.headline a{
    text-decoration: none;
    background: rgba(255, 255, 255, 0.10);
    padding: 1em;
    margin-top: 2em;
    color: #fff;
    border-radius: 5px;
}

a:hover{
    color: #FFBC13;
}

.section1{
    background-color: #111;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    margin: 0 7em;
    border-right: 1px solid #333;
}

.section1 svg{
    width: 50px;
    height: 40px;
}

.section1 h3{
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Poppins';
    font-size: 1rem;
}

.section1 p{
    font-weight: 400;
    font-family: 'Poppins';
    margin-top: -0.2em;
}

.Order{
    display: flex;
    margin: 1.7em 1.5em;
}

.descrip{
    margin: -.7em 1em;
}

